<article class="flex flex-col gap-5">
  <img class="w-full h-full" src="/images/About/image-about-dark.jpg" alt="" />

  <div class="flex flex-col p-8 gap-5">
    <h2 class="font-bold text-[1rem] uppercase tracking-[4px]">
      About our furniture
    </h2>
    <p class="text-Dark-Gray font-medium text-[14.5px] leading-6">
      Our multifunctional collection blends design and function to suit your
      individual taste. Make each room unique, or pick a cohesive theme that
      best express your interests and what inspires you. Find the furniture
      pieces you need, from traditional to contemporary styles or anything in
      between. Product specialists are available to help you create your dream
      space.
    </p>
  </div>
  <img class="w-full h-full" src="/images/About/image-about-light.jpg" alt="" />
</article>
