<article class="flex flex-col xl:flex-row">
  <img
    class="w-full h-full object-contain"
    src="/images/About/image-about-dark.jpg"
    alt=""
  />

  <div
    class="flex flex-col gap-3 p-9 py-14 md:gap-5 md:px-[9rem] md:py-24 xl:px-12 xl:py-12 xl:pt-16 2xl:py-20 2xl:px-20"
  >
    <h2
      class="font-bold text-[1rem] uppercase tracking-[.25rem] md:text-[2rem] md:tracking-[.8rem] xl:text-[1rem] xl:tracking-[.5rem] 2xl:tracking-[.5rem] 2xl:text-[1.5rem]"
    >
      About our furniture
    </h2>
    <p
      class="text-Dark-Gray font-medium text-[0.96875rem] leading-6 text-pretty md:text-[2rem] md:leading-[3rem] xl:leading-7 xl:text-[1rem] xl:pr-2 2xl:leading-7 2xl:text-[1.2rem] 2xl:pr-2"
    >
      Our multifunctional collection blends design and function to suit your
      individual taste. Make each room unique, or pick a cohesive theme that
      best express your interests and what inspires you. Find the furniture
      pieces you need, from traditional to contemporary styles or anything in
      between. Product specialists are available to help you create your dream
      space.
    </p>
  </div>

  <img
    class="w-full h-full object-contain"
    src="/images/About/image-about-light.jpg"
    alt=""
  />
</article>
