---
import Logo from "@assets/logo.astro";
import IconClose from "@assets/MenuIcons/icon-close.astro";
import IconHamburger from "@assets/MenuIcons/icon-hamburger.astro";
---

<header>
  <IconHamburger />
  <nav class="flex justify-between items-center">
    <IconClose />
    <ul class="flex gap-5">
      <li>home</li>
      <li>shop</li>
      <li>about</li>
      <li>contact</li>
    </ul>
  </nav>
  <Logo />
</header>
