---
import Logo from "@assets/logo.astro";
import IconClose from "@assets/MenuIcons/icon-close.astro";
import IconHamburger from "@assets/MenuIcons/icon-hamburger.astro";
---

<header class="w-full absolute z-20">
  <div class="hidden items-center px-6 pt-8 gap-28">
    <IconHamburger />
    <Logo />
  </div>
  <div>
    <Logo />
  </div>
  <nav class="hidden justify-between items-center font-bold px-6 py-4">
    <IconClose />
    <ul class="flex gap-5 items-center">
      <li>home</li>
      <li>shop</li>
      <li>about</li>
      <li>contact</li>
    </ul>
  </nav>
</header>
