---
import Article from "@components/MainComponents/Article.astro";
import Slider from "./MainComponents/Slider";
import Header from "@components/Header.astro";
---

<main class="flex flex-col w-full gap-4">
  <Slider>
    <Header />
  </Slider>
  <Article />
</main>
